.footer{
    background-color: var(--uc-color-secondary-800);
    border-top: 4px solid var(--uc-color-primary-500);
    color: var(--uc-color-white-default);

    &__copy{
        font-size: 1.6rem;
        padding: 2rem;

        &__content{

            &__icon{
                font-size: 2.4rem;
            }
        }
    }

    &__links{
        background-color: var(--uc-color-secondary-900);

        nav{
            padding: 3rem;


            ul{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                text-align: center;
                gap: 2rem;

                li{
                    a{
                        font-size: 1.6rem;
                        font-weight: 600;
                        transition: 0.2s ease all;
                        width: auto;
                    }
                }

                li a:hover{
                    color: var(--uc-color-primary-500);
                }
            }    
        }
        
    }
}